/* * {
    margin: 0;
    padding: 0;
} */

ul {
    background-color: orange;
    text-align: center;
    padding: 5px;
}

li {
    text-transform: capitalize;
    list-style-type: none;
    background-color: yellow;
    /* display: inline; */
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
    width: 15%;
    text-align: center;
    margin: 5px;
    padding: 5px 0px;
}

h1 {
    display: none;
    display: block;
}

/* #contact {
    visibility: hidden;
    visibility: visible;
} */